@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500;600;700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 0.02rem;
}

body {
    width: 100%;
    height: 100%;
    background-color: hsla(240, 80%, 9%, 1);
    background-image:
        radial-gradient(at 91% 79%, hsla(240, 0%, 96%, 0.2) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(0, 0%, 96%, 0.2) 0px, transparent 50%);
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
}

body::-webkit-scrollbar-thumb {
    background: #a9a9b0;
    border-radius: 5px;
}

body::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.4);
}




header {
    width: 100%;
    height: 70px;
    background: #03002e;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px;
    display: flex;
    letter-spacing: 0.02rem;
}

header h1 {
    color: rgba(255, 255, 255, 0.3);
    letter-spacing: 0.3rem;
    margin: 0 1rem;
    font-family: 'Teko';
}

i#main-view-bars {
    color: #dddddd;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    margin: 1rem;
    cursor: pointer;
}

i#mobile-view-bars {
    display: none;
}

#logo {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -1.5rem;
}


.search {
    width: 30rem;
    margin: 0.5rem auto;
}

.search input {
    width: 30rem;
    height: 2.5rem;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
    background: #03002e;
    background: rgba(255, 255, 255, 0.1);
    background: rgba(128, 128, 128, 0.08);
    font-size: 16px;
    color: white;
    caret-color: #dddddd;
    font-family: "Teko";
    font-weight: 700;
}

.retreat {
    width: 7rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.retreat a {
    text-decoration: none;
    color: #dddddd;
}

.retreat .btn {
    width: 100%;
    height: 100%;
    background: transparent;
    color: #dddddd;
    font-family: "Teko";
    font-size: 18px;
    cursor: pointer;
    border: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    box-shadow: inset 2px 2px 4px #6a6a6a, inset -2px -2px 4px #050606;
    border-radius: 10px;
}

.nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    display: none;
    user-select: none;
    background-color: hsla(240, 80%, 9%, 1);
    background-image: radial-gradient(at 91% 79%, hsla(240, 0%, 96%, 0.2) 0px, transparent 50%), radial-gradient(at 0% 0%, hsla(0, 0%, 96%, 0.2) 0px, transparent 50%);

}

.nav i {
    color: #dddddd;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    margin: 1rem;
}

.nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;

}

.nav ul li {
    color: #dddddd;
    font-size: 45px;
    margin: 1rem 0;
    cursor: pointer;
    font-family: 'Teko';
}

.nav ul li a {
    text-decoration: none;
    color: #dddddd;
    position: relative;
}

.nav ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    background: #dddddd;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav ul li a:hover::after {
    width: 100%;

}

.lite-text {
    color: whitesmoke;
    opacity: 0.04;
    font-size: 200px;
    letter-spacing: 100px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-family: 'Teko';
}

.lite-text h1 {
    letter-spacing: 110px;
}

#logout {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #dddddd;
    font-family: 'Teko';
    font-size: 25px;
    cursor: pointer;
    margin: 1rem;
}



.content-container {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin: 0 auto;
    letter-spacing: 0.02rem;
    display: flex;
}

/* Left Pane */

.left-pane {
    width: 20%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0px 0 0 15px;
    /*   overflow-y: scroll;
  overflow-x:hidden;	 */
}

.left-pane::-webkit-scrollbar {
    width: 5px;
}

.left-pane::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
}

.left-pane::-webkit-scrollbar-thumb {
    background: #a9a9b0;
    border-radius: 5px;
}

.left-pane::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.4);
}

.left-pane h4 {
    color: #dddddd;
    font-family: 'Teko';
    margin-left: 10px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.4);
}

.menu {
    width: 250px;
    /*   min-height: 50%;
  max-height: 58%;	 */
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
}

.content-sort {
    margin-top: 30px;
}

.content-sort li {
    color: #dddddd;
    font-family: "Teko";
    list-style-type: none;
    margin: 15px;
    margin-bottom: 25px;
    font-size: 18px;
    cursor: pointer;
    padding: 8px;
    font-weight: 700;
}

.content-sort li:hover {
    background: rgba(255, 255, 255, .05);
    border-radius: 10px;
}

.content-sort li.selected {
    background: rgba(255, 255, 255, .05);
    border-radius: 10px;
}

.content-sort i {
    width: 1.8rem;
    height: 1.5rem;
    padding: 5px;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    text-align: center;
    color: #cccccc;
    font-size: 16px;
    margin-right: 10px;
}

.category {
    width: 250px;
    height: 50%;
}

/* Main  */

.main-content {
    width: 75%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
}

.main-content h2 {
    color: #dddddd;
    font-family: "Teko";
    letter-spacing: 0.02rem;
    margin: .2rem auto;
    padding: 5px;
}

.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 150px;
}

.screen::-webkit-scrollbar {
    width: 5px;
}

.screen::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
}

.screen::-webkit-scrollbar-thumb {
    background: #a9a9b0;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #a9a9b0;
}


.screen::-webkit-scrollbar-corner {
    background: #03002e;
}

.channel-search {
    width: 100%;
    height: 8rem;
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
}

.channel-card {
    width: 8rem;
    height: 6rem;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
    margin: 10px;
    color: #dddddd;
    font-family: 'Teko';
    padding: 5px;
    text-align: center;
    border-top: .5px solid rgba(255, 255, 255, 0.5);
    border-left: .5px solid rgba(255, 255, 255, 0.5);
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

#channel-search-avi {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: -20px;
    box-shadow: 3px 2px 3px 3px rgba(19, 19, 19, .8);
}

.channel-card a {
    color: #dddddd;
    text-decoration: none;
}

.channel-card h4 {
    margin-top: -2px;
}

.searched-content-results {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.card {
    width: 18rem;
    height: 12rem;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
    margin: 10px;
    color: #dddddd;
    font-family: 'Teko';
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    content-visibility: auto;
}

.card video {
    width: 100%;
    height: 100%;
}

video[poster] {
    object-fit: fill;
    border-radius: 10px;
}

.card-overlay {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    top: 0;
    background: rgba(19, 19, 19, 0.8);
    border-radius: 10px;
    z-index: 10;
    display: block;
    backdrop-filter: blur(.5px);
}

.card-top {
    height: 3.5rem;
    width: 100%;
    display: flex;
    padding: 5px;
}

.video-info {
    display: flex;
    width: 18rem;
    height: 100%;
}

.video-info ul {
    margin: 0;
    margin-left: 10px;
}

.video-info li {
    list-style-type: none;
    font-weight: 700;
}

#channelName a {
    font-size: 16px;
    color: #dddddd;
    text-decoration: none;
}

#videoViews {
    font-size: 12px;
}

.card-options {
    width: 2rem;
    height: 100%;
    cursor: pointer;
}

.options {
    width: 10rem;
    height: 3rem;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 10px;
    position: absolute;
    right: 2%;
    top: 15%;
    z-index: 99;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.5s;
}


.options.active {
    transform: scale(1);
}

.options:after {
    bottom: 100%;
    left: 65%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: rgba(0, 0, 0, .5);
    border-width: 8px;
    margin-left: 30px;
}

li#add {
    list-style-type: none;
}

li#delete {
    list-style-type: none;
}

i.fa-solid.fa-circle-plus {
    margin-right: 5px;
}

i.fa-solid.fa-trash {
    margin-right: 5px;
}


.card-mid {
    height: 3.5rem;
    width: 100%;
    text-align: center;
    z-index: 20;
}

.card-mid .fa-play {
    color: #090088;
    font-size: 50px;
    cursor: pointer;
}

#stripe-btn {
    width: 10rem;
    height: 2rem;
    border: none;
    background: #090088;
    cursor: pointer;
    color: #dddddd;
    border-radius: 10px;
    font-family: 'Teko';
    letter-spacing: 0.02rem;
    font-size: 18px;
}

.ticket-purchase {
    display: none;

}

button:hover {
    transform: scale(1.05);
}

.card-bottom {
    height: 5rem;
    width: 100%;
    text-align: center;
}

.card-bottom h6 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
}

/* Right Panes */


.right-pane {
    width: 25%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 15px 0;
}

.right-pane::-webkit-scrollbar {
    width: 5px;
}

.right-pane::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
}

.right-pane::-webkit-scrollbar-thumb {
    background: #a9a9b0;
    border-radius: 5px;
}

.right-pane::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.4);
}

.popular {
    width: 95%;
    /*   height: 45%; */
    background: rgba(128, 128, 128, 0.08);
    margin: 1rem auto;
    padding: 8px;
    border-radius: 20px 0 0 20px;
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    overflow-x: hidden;
}

.popular.uploads {
    height: 48%;
}

.popular::-webkit-scrollbar {
    width: 5px;
}

.popular::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
}

.popular::-webkit-scrollbar-thumb {
    background: #a9a9b0;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #a9a9b0;
}


.popular::-webkit-scrollbar-corner {
    background: #03002e;
}

.popular h3 {
    color: #dddddd;
    font-family: 'Teko';
    margin-left: 10px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.4);
}



#channelAvi {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 1px 1px 4px 3px black;
}


.table a {
    color: #dddddd;
    font-family: 'Teko';
    text-decoration: none;
}

.table {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    text-align: center;
}

.top-channel-card {
    width: 5rem;
    height: 5rem;
    margin: .5rem 0;
    overflow: hidden;
    /* flex-wrap: nowrap; */
    text-overflow: ellipsis;

}

.top-channel-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.3);
    box-shadow: 1px 2px 5px #171717;
}

.channels-live .top-channel-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.3);
    box-shadow: 1px 2px 5px #bf2022;
}


.popular .uploads::-webkit-scrollbar {
    width: 5px;
}

.popular .uploads::-webkit-scrollbar-track {
    background-color: #03002e;
}

.popular .uploads::-webkit-scrollbar-thumb {
    background: #a9a9b0;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #a9a9b0;
}


.popular .uploads::-webkit-scrollbar-corner {
    background: #03002e;
}

.pop-card {
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    content-visibility: auto;

}

.upload {
    display: flex;
    width: 100%;
    height: 100%;
}

.upload video {
    width: 90px;
    height: 90px;
}

.upload video[poster] {
    object-fit: cover;
    width: 90px;
    height: 90px;
}

.upload-overlay {
    width: 90px;
    height: 90px;
    position: absolute;
    background: rgba(19, 19, 19, .7);
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(.7px);
    position: absolute;
    top: 0;
}

.upload-overlay .fa-play {
    color: #090088;
    font-size: 40px;
    margin: 1.5rem auto;
}

.upload-info {
    color: #dddddd;
    font-family: 'Teko';
    margin-left: 10px;
}

.upload-info a {
    color: #dddddd;
    font-family: 'Teko';
    text-decoration: none;
}


.upload h6 {
    margin-top: 5px;
}

.upload h5 {
    margin-top: 8px;
}

.channels-subbed {
    display: none;

}

.channels-live {
    display: none;
}


.message {
    color: #a9a9b0;
    text-align: center;
    font-family: 'Teko';
    margin: 12rem auto;
    font-weight: 700;
}



/* Media Queries */

.mobile-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #050529;
    transform: scale(0);
    z-index: 99;
    transition: 0.5s;
}

.mobile-nav.active {
    transform: scale(1);
}

.mobile-nav .fa-x {
    color: #dddddd;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
}

@media screen and (max-width: 325px) {
    body {
        background: #050529;
    }

    header {
        height: 40px;
    }

    header h1 {
        display: none;
    }

    .retreat {
        display: none;
    }

    i#main-view-bars {
        display: none;
    }

    i#mobile-view-bars {
        display: block;
        left: 0;
        color: #dddddd;
    }

    .search {
        display: none;
    }

    .main-content {
        width: 100%;
    }

    .left-pane {
        display: none;

    }

    .right-pane {
        display: none;
    }

    .main-content h2 {
        margin: 1rem;
    }

    .mobile-nav .content-sort {
        margin-top: 100px;
    }



}

@media screen and (min-width: 344px) and (max-width: 744px) {
    body {
        background: #050529;
    }

    header {
        height: 40px;
    }

    header h1 {
        display: none;
    }

    .retreat {
        display: none;
    }

    i#main-view-bars {
        display: none;
    }

    i#mobile-view-bars {
        display: block;
        left: 0;
        color: #dddddd;
    }

    .search {
        display: none;
    }

    .main-content {
        width: 100%;
    }

    .left-pane {
        display: none;

    }

    .right-pane {
        display: none;
    }

    .main-content h2 {
        margin: 1rem;
    }


    .mobile-nav .content-sort {
        margin-top: 100px;
    }


    #logo {
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 944px) {
    body {
        background: #050529;
    }

    header {
        height: 40px;
    }

    header h1 {
        display: none;
    }

    .retreat {
        display: none;
    }

    i#main-view-bars {
        display: none;
    }

    i#mobile-view-bars {
        display: block;
        left: 0;
        color: #dddddd;
    }

    .search {
        display: none;
    }

    .main-content {
        width: 100%;
    }

    .left-pane {
        display: none;
    }

    .right-pane {
        display: none;
    }

    .main-content h2 {
        margin: 1rem;
    }

    .mobile-nav .content-sort {
        margin-top: 100px;
    }

    #logo {
        display: none;
    }

}

@media screen and (min-height: 659px) and (max-height: 750px) {
    .left-pane {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .right-pane {
        overflow-y: scroll;
        overflow-x: hidden;
    }


}